* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: space-between;
  height: 420px;
  width: 100%;
  border: 15px solid transparent;
  border-image-source: url(images/border.png);
  border-image-repeat: stretch;
  border-image-slice: 30;
}

.welcome-left {
  width: 400px;
  height: 300px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.welcome-right {
  width: 400px;
  height: 300px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.welcome-right img {
  width: 15rem;
  height: 8rem;
  margin: auto;
}

h1 {
  padding: 20px;
  letter-spacing: 0.2rem;
}
.h1-red {
  color: rgb(151, 8, 8);
  padding: 20px;
}

.footer {
  display: flex;
  margin: auto;
  padding: 0.5rem;
  height: 100px;
}
.logo-data-relogio {
  margin: auto;
}
.noticias {
  margin: auto;
}

.previsão {
  margin: auto;
}
